* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.todolist {
    font-family: "Nunito", sans-serif;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tasksListContainer {
    width: 100%;
    max-height: 200px;
    overflow: auto;
}

.disabledTodos {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}
.emptyTasksText {
    font-weight: 500;
    font-size: 24px;
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: center;
}
.addItemFormWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px 0px 10px 0;
}

.btnFilterContainer {
    display: flex;
    justify-content: center;
    gap: 3px;
    padding: 10px 0;
}
